@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,900&display=swap");
* {
  font-family: 'Roboto', sans-serif;
}

.header {
  position: relative;
}

.header nav {
  height: 50px;
  background-color: #212121;
  line-height: 29px;
  padding: 10px 70px;
}

.header__menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.header__item {
  border-right: dotted 2px black;
  padding-right: 28px;
}

.header__item:nth-child(6) {
  border: none;
}

.header .subheader {
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
}

.header .subheader__logo {
  display: block;
  margin-top: 16px;
  min-width: 100%;
}

.header .subheader__logotext {
  margin-top: 6px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.5;
}

.header .subheader__call {
  margin-top: 16px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
}

.header .subheader a {
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.header .subheader__btn {
  cursor: pointer;
  margin-top: 19px;
  border-radius: 4px;
  border: none;
  line-height: 39px;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
}

.ubermain {
  color: #ffffff;
  min-height: 800px;
  background: url("../img/bg_ubermain.png") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.ubermain__h1 {
  /* Text style for "КОМПАНИЯ U" */
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  line-height: 6px;
}

.ubermain__h2 {
  font-size: 36px;
  line-height: 6px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 22px;
}

.ubermain__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

.ubermain__btn {
  display: block;
  margin: 135px auto 0 auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.reason {
  padding-top: 71px;
}

.reason__btn {
  display: block;
  margin: 0 auto;
  width: 112px;
  height: 24px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

.reason__title {
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.reason__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 113px;
  max-height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.reason_txt {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  font-weight: 300;
}

.reason p {
  margin: 0;
  line-height: 21px;
  /* Text style for "К, омиссия" */
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */