@media (max-width: 1200px){   

        .header__item{
            padding-right: 20px;
        }

        .header__link{
            font-size: 13px;
        }

        .ubermain__h1{
            font-size: 54px;
        }
        .ubermain__h2{
            font-size: 34px;
        }

        .mobile__item {
            width: 300px;
        }    

    
}

@media (max-width: 991px){   

    .header__item{
        padding-right: 10px;
    }

    .header__link{
        font-size: 10px;
    }
    .subheader__phone{
        font-size: 19px !important;
    }

    .ubermain__h1{
        font-size: 39px;
    }
    .ubermain__h2{
        font-size: 24px;
    }

    .mobile__item {
        width: 300px;
    }    

    .footer__right{

        flex-direction: column;
    }

    .subheader__logotext{
        font-size: 11px !important;
    }

    .subheader__btn{
      
            width: 100% !important;
            margin-top: 21px !important;
            height: 40px !important;
    }

    .reason__icon{
        width: 100px ;
        height: 100px ;
    }

  
}

@media (max-width: 767px){   

    .header__menu{
        
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;       
        background-color: rgba(0,0,0, .9);
        transition: 0.8s all;
     
        .header__item{
            border: none;
            padding: 0;
            margin: 10px 0;
            .header__link{
                     font-size: 20px;
            }
        }          

    }

    .header__active{
        left: 0;
    }
  
    .header__burger{
        z-index: 50;
        display: block;
        position: absolute;
        left: 93%;        
        top: 50%;
        transform: translatey(-50%);
        width: 25px;
        height: 12px;

        span{
            display: block;
            height: 2px;
            width: 100%;
            background: #fff;
            margin-bottom: 2px;
            transition: 0.4s all;
            
        }
    }

    .header__burger__active{
        margin-bottom: -2px;
        span:nth-child(1){transform: translateY(3px) rotate(-45deg); }
        span:nth-child(2){display: none; }
        span:nth-child(3){transform: translateY(3px) rotate(45deg); }
    }

    .subheader__hide{
        display: none;
    }
  
    .subheader__btn_hide{
        display: block !important;               
         
    }

    .subheader__phone{
         
        margin-top: 5px;
        text-align: center !important;
        font-style: 16px;
    }
    .subheader__btn{      
        width: 100% !important;
        margin-top: 8px !important;
        height: 38px !important;
    }

    .ubermain__h1{
        font-size: 36px;
    }
    .ubermain__h2{
        font-size: 23px;
    }
    .ubermain__text{
        display: none;
    }

    .mobile__item {
        width: 250px;
        height: 250px;
        font-size: 20px;
    }    

    .reason__icon{
        width: 100px ;
        height: 100px ;
        
    }
    .reason__txt{
        margin-bottom: 1.5rem;
       
    }
    .reason__txt:nth-child(4n+4){
        margin-bottom: 0;
    }

    .footer__right{

        flex-direction: column;
    }


}

/* 
.ubermain__h1{
    font-size: 41px;
}
.ubermain__h2{
    font-size: 26px;
}
 */