
@mixin adaptiv-font($MaxWidt,$pcSize,$mobSize) {
    
       $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;

    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} *((110vw - 320vw)/ #{$MaxWidt}));
        
    }
    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw /  #{$MaxWidt}  ));
        
    }
    
}