@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,900&display=swap');

*{  
    font-family: 'Roboto', sans-serif;
}

.__btn{
    display: block;
    margin: 0 auto;
    width: 112px;
    height: 24px;
    background-color: #000000;
    color: #ffffff;       
    font-size: 11px;
    font-weight: 400;        
    text-transform: uppercase;
}

.__title{        
    color: #222222;     
    font-size: 38px;
    font-weight: 700;  
    text-transform: uppercase;
    text-align: center;
}
.__txt{
    text-align: center;       
      color: #222222;    
      font-size: 17px;
      font-weight: 400;  
  }

.header{   

    position: relative;
   
    nav {
        height: 50px;
        background-color: #212121;
        line-height: 29px;
        padding: 10px 70px;
    }

    &__menu{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    &__link {
        text-decoration: none;
        color: #ffffff; 
        font-size: 15px;
        font-weight: 300;      
    }

    &__item{
        border-right: dotted 2px black;
        padding-right: 28px;
    }

    &__item:nth-child(6){
       
        border: none;
    }

    .subheader { 
      
        height: 84px;
        background-color:rgba(0,0,0, .6);
        position: absolute;
        width: 100%;

        &__logo{
            display: block;
            margin-top: 16px;
            min-width: 100%;
        }

        &__logotext{
            margin-top: 6px;
            color: #ffffff;           
            font-size: 13px;
            font-weight: 400;
            opacity: 0.5;            
        }

        &__call{
            margin-top: 16px;
            color: #ffffff;            
            font-size: 12px;
            font-weight: 300;
            text-align: right;
        }

        a{
            text-decoration: none;
            color: #ffffff;           
            font-size: 22px;
            font-weight: 400;         
            text-transform: uppercase;  
        }

        &__btn{
            cursor: pointer;
            margin-top: 19px;
            border-radius: 4px;
            border: none;
            line-height: 39px;  
            text-align: center;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
            color: #ffffff;      
            font-size: 14px;
            font-weight: 400;   
            text-transform: uppercase;        
            width: 172px;
            height: 46px;
            box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          
            background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
        }
       
    }

}


.ubermain{

    color: #ffffff;
    min-height: 800px;
    background: url('../img/bg_ubermain.png') center center/cover no-repeat;
    padding: 150px 0 135px 0;

    &__h1 {
        /* Text style for "КОМПАНИЯ U" */
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;       
        font-size: 60px;
        text-align: center;
        line-height: 6px;       
     }

    &__h2 { 
        font-size: 36px;
        line-height: 6px;
        font-weight: 700;
        text-transform: uppercase;      
        text-align: center;
        margin: 0;
        margin-top: 22px;      
    }

    &__text {              
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        margin-top: 23px;       
    }
    &__btn{
        display: block;
        margin: 135px auto 0 auto;
        width: 259px;
        height: 63px;
        box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    
        background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
        color: #ffffff;   
        font-size: 18px;
        font-weight: 400;        
        text-transform: uppercase;
    }

 }

 .reason{
 
    padding-top: 71px; 

    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 113px;
        max-height: 113px;
        background-color: #1eacc7;
        border-radius: 100%;
    }

    &_txt{
        color: #202020;
        font-size: 15px;
        font-weight: 300;
        line-height: 21px;
        font-weight: 300;
    }

    p{
       margin: 0;
        line-height: 21px;
        /* Text style for "К, омиссия" */
        color: #1eacc7;
        font-size: 17px;
        font-weight: 400;
    }

 }

 .mobile{
    padding: 48px 0px 79px 0px;
    min-height: 864px;
    background: url('../img/bg_mbuber.png') center center/cover no-repeat;
    
    .row{
        margin-top: 13px;
    }

    &__item{
        width: 320px;
        height: 280px;
        margin: 19px auto; 
        color: #ffffff;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;   
        text-align: center;
        padding-top: 92px;
    }
    &__bg1{
        background: url('../img/bg_m_1.png') center center/cover no-repeat;
    }
    &__bg2{
        background: url('../img/bg_m_2.png') center center/cover no-repeat;
    }
    &__bg3{
        background: url('../img/bg_m_3.png') center center/cover no-repeat;
    }
    &__bg4{
        background: url('../img/bg_m_4.png') center center/cover no-repeat;
    }
    &__bg5{
        background: url('../img/bg_m_5.png') center center/cover no-repeat;
    }
    &__bg6{
        background: url('../img/bg_m_6.png') center center/cover no-repeat;
    }
  
 }