@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,900&display=swap');

*{  
    font-family: 'Roboto', sans-serif;
}

.header{   

    nav {
        height: 50px;
        background-color: #212121;
        line-height: 29px;
        padding: 10px 70px;
    }

    &__menu{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    &__link {
        text-decoration: none;
        color: #ffffff; 
        font-size: 15px;
        font-weight: 300;      
    }

    &__item{
        border-right: dotted 2px black;
        padding-right: 28px;
    }

    &__item:nth-child(6){
       
        border: none;
    }

    .subheader { 
      
        height: 84px;
        background-color:rgba(0,0,0, .6);

        &__logo{
            display: block;
            margin-top: 16px;
            min-width: 100%;
        }

        &__logotext{
            margin-top: 6px;
            color: #ffffff;           
            font-size: 13px;
            font-weight: 400;
            opacity: 0.5;            
        }

        &__call{
            margin-top: 16px;
            color: #ffffff;            
            font-size: 12px;
            font-weight: 300;
            text-align: right;
        }

        a{
            text-decoration: none;
            color: #ffffff;           
            font-size: 22px;
            font-weight: 400;         
            text-transform: uppercase;  
        }

        &__btn{
            line-height: 36px;  
            text-align: center;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
            color: #ffffff;      
            font-size: 14px;
            font-weight: 400;   
            text-transform: uppercase;        
            width: 172px;
            height: 46px;
            box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
            border: 3px solid rgba(0, 0, 0, 0.07);
            background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
        }
       
    }
 
}